<?xml version="1.0"?>
<config>
    <modules>
        <SimpleRelevance_Integration>
             <version>1.0.1</version>
        </SimpleRelevance_Integration>
    </modules>
    <global>
        <models>
            <simple_relevance>
                <class>SimpleRelevance_Integration_Model</class>
            </simple_relevance>
        </models>
        <blocks>
            <simple_relevance>
                <class>SimpleRelevance_Integration_Block</class>
            </simple_relevance>
        </blocks>
        <helpers>
            <simple_relevance>
                <class>SimpleRelevance_Integration_Helper</class>
            </simple_relevance>
        </helpers>
        <events>
	        <customer_save_after>
	           	<observers>
	               <simplerelevance_push_customer>
	                   <class>simple_relevance/observer</class>
	                   <method>pushCustomer</method>
	               </simplerelevance_push_customer>
	         	</observers>
	        </customer_save_after>
	        <catalog_product_save_after>
	           	<observers>
	               <simplerelevance_push_item>
	                   <class>simple_relevance/observer</class>
	                   <method>pushItem</method>
	               </simplerelevance_push_item>
	         	</observers>
	        </catalog_product_save_after>
            <sales_order_save_after>
                <observers>
                    <simplerelevance_push_purchase>
                        <class>simple_relevance/observer</class>
                        <method>pushPurchase</method>
                    </simplerelevance_push_purchase>
                </observers>
            </sales_order_save_after>
        </events>
    </global>
    <frontend>
        <translate>
            <modules>
                <SimpleRelevance_Integration>
                    <files>
                        <default>SimpleRelevance_Integration.csv</default>
                    </files>
                </SimpleRelevance_Integration>
            </modules>
        </translate>
        <routers>
            <simple_relevance>
                <use>standard</use>
                <args>
                    <module>SimpleRelevance_Integration</module>
                    <frontName>simple_relevance</frontName>
                </args>
            </simple_relevance>
        </routers>
        <events>
	        <checkout_onepage_controller_success_action>
	           	<observers>
	               <simplerelevane_purchases>
	                   <class>simple_relevance/observer</class>
	                   <method>pushPurchase</method>
	               </simplerelevane_purchases>
	         	</observers>
	        </checkout_onepage_controller_success_action>
        </events>
    </frontend>
    <adminhtml>
		<events>
		   <core_block_abstract_prepare_layout_before>
			   <observers>
				   <add_button>
					   <type>model</type>
					   <class>simple_relevance/observer</class>
					   <method>massaction</method>
				   </add_button>
			   </observers>
		   </core_block_abstract_prepare_layout_before>
		</events>
    	<layout>
	        <updates>
	            <simple_relevance>
	                <file>simple_relevance.xml</file>
	            </simple_relevance>
	        </updates>
    	</layout>
        <translate>
            <modules>
                <SimpleRelevance_Integration>
                    <files>
                        <default>SimpleRelevance_Integration.csv</default>
                    </files>
                </SimpleRelevance_Integration>
            </modules>
        </translate>
    </adminhtml>
    <default>
    	<simple_relevance>
    		<general>
	    		<active>0</active>
	    		<debug>0</debug>
    		</general>
    	</simple_relevance>
    </default>
</config>
